#background{
  /* Full height */
  background-size: 500px;
  width:1680px !important;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: contain; /* Resize the background image to cover the entire container */
}
