<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<nav>
  <ul>
    <li>
      <a routerLink="home" routerLinkActive="activated"><span class="glyphicon glyphicon-home"> Home </span>
      </a>
    </li>
    <li>
      <a routerLink="products" routerLinkActive="activated"><span class="glyphicon glyphicon-th"> Components </span>
      </a>
    </li><!--
    <li>
      <input type="text" placeholder="Search...">
    </li>
    <li>
      <a class="material-icons" routerLink="productlist">
        search
      </a>
    </li>-->
    <li>
      <a routerLink="cart" routerLinkActive="activated"><span class="glyphicon glyphicon-shopping-cart"> ShoppingCart</span>
      </a>
    </li>
    <li>
      <a routerLink="signin" routerLinkActive="activated"><span class="glyphicon glyphicon-user"> Sign-in </span>
      </a>
    </li>
  </ul>
</nav>
