<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="items-details/5c02fa29084dbf000440cf38" [class.activated]="currentUrl == '/items-details/:perm_identity'">
        <i class="material-icons">search</i>
      </a>
    </li>
  </ul>
</nav>
