<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="productlist" [class.activated]="currentUrl == '/productlist'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="itemlist" [class.activated]="currentUrl == '/itemlist'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="checkout" [class.activated]="currentUrl == '/checkout'">
        <i class="material-icons">checkout</i>
      </a>
    </li>
    <li>
      <a routerLink="thank-you" [class.activated]="currentUrl == '/thank-you'">
        <i class="material-icons">checkout</i>
      </a>
    </li>
  </ul>
</nav>
