@import url('https://fonts.googleapis.com/css?family=Numans');
body{
  font-family: 'Numans', sans-serif;
}

.imgHolder{
  display: inline-block;
  background: black;
}
.item-fade{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  vertical-align: top;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: .20;
}

p , h1{
  text-align:center;
  padding:35px;
}

.column, {
  margin:auto;
  text-align:center;
  float: center;
  width: 20%;
  padding:25px;
}

/* Clear floats after the columns */
.row:after, {
  content: "";
  display: table;
  clear: both;
}

