<!-- <div id="wrapper"> -->
    <!-- <h1>Item Name {{ product$.name }} , {{name}}</h1> -->

    <h1>{{myHeros}}</h1>
  <div id="left">
    <app-carousel></app-carousel>
  </div>

  <div id="right">
    <ul>
      <!-- <li><strong>Stock:</strong> {{ product$.stock }}</li> -->
      <!-- <li><strong>Price:</strong> {{ product$.price }}</li> -->
      <!-- <li><strong>Manufacturer:</strong> {{ product$.manufacturer }}</li> -->
      <li><strong> Place holder</strong></li>
      <li><strong> Place holder</strong></li>
      <li><strong> Place holder</strong></li>
      <li><strong> Add To cart</strong></li>
    </ul>
    <!-- <a routerLink="items-details/:id" [class.activated]="currentUrl == '/items-details/:perm_identity'"> -->
      <!-- <i class="material-icons">shopping_cart</i> Add to cart </a> -->
  </div>


<!-- </div> -->
<div>
  <!-- <p>description {{product$.description }}</p> -->
</div>
