#left {
  // background: rgb(67, 66, 68);
  float: left;
  width: 65%;
  height: 100%;
  overflow: hidden;
  margin: 10px;

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

          a {
              color: rgb(212, 123, 123);
              padding: 20px;
              display: block;
          }

          .activated {
              background-color: #00a8ff;
          }
      }
  }

}


#right {
  // background: rgb(67, 66, 68);
  height: 75%;
  overflow: hidden;
  // border-style: solid;
  padding: 10px;
  margin: 10px;
  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

          a {
              color: rgb(212, 123, 123);
              padding: 20px;
              display: block;
          }

          .activated {
              background-color: #00a8ff;
          }
      }
  }

}
.butt {
  border: none;
  background-color: lightgrey;
  height:50px;
  width:75px;
  cursor:pointer;
  margin: 30px;
}

.butt:hover {
  background-color: darkgray;
  color:white;
}

.minor-nav {
  display: flex;
  justify-content: space-between;
}
